<header>
  <h1>New Form</h1>
  <p>
    Build your own form, using this clunky interface!
  </p>
</header>

<%= simple_form_for @form  do |f| %>
  <div class="field_details">
    <%= f.input 'title', hint: 'Enter a tile.', required: true %>
    <%= f.input 'description',  hint: 'Enter a description.', required: false, as: :text %>
  </div>

  <div id="fields">
    <%= f.simple_fields_for :fields do |field| %>
          <%= render 'field_fields', f: field %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add field', f, :fields %>
    </div>
  </div>

  <%= f.submit %>
<% end %>

<script>

    function changeHintLabel(context){
      var $hintbox = $(context).closest(".nested-fields").find(".field--hint label");

      if ($(context).val() == "check_boxes") {
        $hintbox.text("Checkbox Labels");
        $hintbox.parent().find('.hint').text("Enter the items you would like in your checkbox list, one per line.");
      } else {
        $hintbox.text("Hint");
        $hintbox.parent().find('.hint').text("Enter a hint.");
      }

    }


</script>
