<header>
  <h1><%= @form.title %></h1>
  <p>
    <%= @form.description %>
  </p>
</header>



<% if !@errors.empty? %>
<div class="errors">
  <h3>Errors</h3>
  <ul>
    Your submission contains some errors
  </ul>
</div>
<% end %>
<div id="fields">
  <%= simple_form_for :submission, url: "submit" do |f| %>

    <div class="the-fields">
      <% @form.fields.each do |field| %>
        <div class="field">
          <%= f.input field.id.to_s.to_sym,
          as: field.field_type,
          label: field.label,
          hint: field.hint,
          placeholder: field.placeholder,
          input_html: {value: @sub[field.id.to_s.to_sym]} %>
          <% if @errors[field.id].present? %>
            <div class="inline-errors">
              <%= "This field #{@errors[field.id].flatten.to_sentence}" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= f.input :form_id,as: :hidden, input_html: {value: @form.id.to_s} %>
    <%= f.submit %>
  <% end %>
</div>
